product.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "464f5a5a-2d05-461e-bfe8-0f0fcf948aba",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        12176,
        2720
      ],
      "webhookId": "39acf0d6-c419-48a2-a8f3-495c41e08189",
      "credentials": {
        "telegramApi": {
          "id": "WerWULDra4QAyQUW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userLanguage",
              "value": "={{ $json.message.from.language_code }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b16a507d-85a8-4bca-8684-0ddc51d4ab07",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12448,
        2720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ed34874-db97-4a4b-b723-44d69e58b6fc",
      "name": "Check if Audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12672,
        2704
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcribe this audio message and identify: 1) Customer's name if mentioned, 2) Language being spoken, 3) Customer needs or preferences mentioned, 4) Any specific product interests",
        "inputType": "binary",
        "options": {}
      },
      "id": "a3b63720-9c92-438e-b2da-0c4a5257170f",
      "name": "Analyze Audio with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        13104,
        2832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "UmkmWWmZCD5hy407",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}{{ $json.message.chat.first_name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly soap product sales assistant.\n\nYour task is to:\n1. Analyze the customer audio transcription to understand their needs and preferences\n2. Start your response with: \"hey i have a cool offer today\"\n3. Recommend specific soap products that satisfy the customer needs you identified\n4. Mention the 10% discount offer available today\n5. Be conversational, friendly, and personalized\n6. ALWAYS respond in the SAME language the customer used\n\nUser Language: {{ $(\"Workflow Configuration\").first().json.userLanguage }}\n\nAvailable soap products:\n- Moisturizing Soap (₱150) - For dry skin, contains shea butter\n- Whitening Soap (₱180) - For skin brightening, with kojic acid\n- Anti-Acne Soap (₱200) - For acne-prone skin, with tea tree oil\n- Sensitive Skin Soap (₱160) - Hypoallergenic, fragrance-free\n- Herbal Soap (₱140) - Natural ingredients, for all skin types\n- Exfoliating Soap (₱170) - With natural scrub particles\n\nRemember: 10% OFF on all products today!"
        }
      },
      "id": "f17d9d8a-92f4-4c0e-bb75-f2df34452886",
      "name": "Market Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        13312,
        2512
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7fa495de-8e0a-4da9-9b9d-6e846fcd7ef8",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        13264,
        2928
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "UmkmWWmZCD5hy407",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Configuration').first().json.chatId }}",
        "contextWindowLength": null
      },
      "id": "bee4551f-0900-44e8-9090-36f28e5ac626",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        13408,
        2944
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"customerName\": \"Customer name if provided\",\n\t\"detectedLanguage\": \"Language detected from customer speech\",\n\t\"customerNeeds\": \"Identified customer needs or skin concerns\",\n\t\"recommendedProduct\": \"Recommended soap product with original price\",\n\t\"discountedPrice\": \"Price after 10% discount in Philippine Peso\",\n\t\"audioResponse\": \"Complete response starting with greeting and product recommendation in customer language\"\n}"
      },
      "id": "303bc2e0-f1ed-4806-b4a4-fde71da26ad0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        13584,
        2944
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "26fdb66b-8960-4acc-85d6-00e9a7c9c17a",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        13040,
        2496
      ],
      "webhookId": "24fe38bd-b58e-46f7-b913-9d9e9123bcee",
      "credentials": {
        "telegramApi": {
          "id": "WerWULDra4QAyQUW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output.audioResponse }}",
        "voiceId": {
          "__rl": true,
          "value": "en-US-daniel",
          "mode": "list",
          "cachedResultName": "Daniel (M)"
        },
        "multiNativeLocale": {
          "__rl": true,
          "value": "en-US",
          "mode": "list",
          "cachedResultName": "English (US & Canada)"
        },
        "style": {
          "__rl": true,
          "value": "Conversational",
          "mode": "list",
          "cachedResultName": "Conversational"
        },
        "format": "MP3",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-murf.murf",
      "typeVersion": 1,
      "position": [
        13728,
        2560
      ],
      "id": "407646cd-2800-41b7-84c5-5ba72edd4d4f",
      "name": "Generate speech from text",
      "credentials": {
        "murfApi": {
          "id": "jqM8Js2KOwS7ny6G",
          "name": "Murf account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.audioFile }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "29245613-016a-4ace-b864-c9d4c65101ca",
      "name": "Download Audio from Murf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14192,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Workflow Configuration').first().json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "7a4d8787-1146-4e34-865c-64116e333d9d",
      "name": "Send Audio to User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        14400,
        2800
      ],
      "webhookId": "30e38cd0-0ccf-4c79-9e81-720c41da7a5c",
      "credentials": {
        "telegramApi": {
          "id": "WerWULDra4QAyQUW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check if Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Audio": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analyze Audio with Gemini": {
      "main": [
        [
          {
            "node": "Market Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Analysis Agent": {
      "main": [
        [
          {
            "node": "Generate speech from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Market Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Market Analysis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Market Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Analyze Audio with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate speech from text": {
      "main": [
        [
          {
            "node": "Download Audio from Murf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio from Murf": {
      "main": [
        [
          {
            "node": "Send Audio to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Audio to User": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9df034de294bc05b602f4491ccffe277a23a0f642bbaec9178be8b119aa6fd34"
  }
}
